@import '../../variables.scss';
@import './showInfo.scss';
@mixin trending {
    #trending{
        height: 500px;
        margin-top: 80px;
        width: 100% !important;
        background: url('../../../assets/cover.jpg') no-repeat center center fixed;
        background-size: cover;
        position: relative;
        .trendingContainer{
            
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            position: relative;
            overflow: hidden;
            
            // .prev{
            //     top: 50%;
            //     transform: translateY(-50%);
            // }
            // .next{
            //     top: 50%;
            //     right: 0;
            //     transform: translateY(-50%);
            // }
            label{
                display: flex;
                position: absolute;
                top: 20px;
                left: 20px;
                width:160px;
                justify-content: space-between;
                align-items: center;
                padding:5px 10px;
                border-radius: 100px;
                margin-left: 30px;
                z-index: 3;
                background-color: rgba($color: $primaryColor, $alpha: 0.4);
                p{
                    width: 45%;
                    display: flex;
                    justify-content: center;
                    z-index: 2;
                    font-size: 20px;
                    font-weight: bolder;
                    transition: .3s;
                }
                .circle{
                    position: absolute;
                    height: 100%;
                    left: 0;
                    width: 50%;
                    background-color: $secondaryColor;
                    border-radius: 100px;
                    transition: .5s;
                }
                
            }
            input[type=checkbox]{
                display: none;
            }
            
    
            input[type=checkbox]:checked ~ label{
                .circle{
                    left: 100%;
                    transform: translateX(-100%);
                }
    
            }
            .showinfoContainer{
                width: 100%;
                z-index: 2;
                height: 100%;
                overflow: hidden;
                display: flex;
                // flex-direction: column;
                .showInfo{
                    @include showInfo;
                    // padding: 20px;
                }
                .hideInfo{
                   opacity: 0;
                }
            }
            .showPosterContainer{
                display: none;
                z-index: 2;
                height: 100%;
            }
            .slideBtn{
                z-index: 3;
                background-color: transparent;
                color: $secondaryColor;
                height: max-content;
                margin: 20px;
                font-size: 32px;
            }
            .prev{
                margin-right: 30px;
            }
            .next{
                margin-left: 30px;

            }

        }
        
        .containerOpacity{
            background-color: rgba(25,30,36, 0.8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;   
            z-index: 1;
        }
    }

    @media only screen and (min-width: 550px){
        #trending{
            .trendingContainer{
                .showinfoContainer{
                    width: 70%;
                }
                .showPosterContainer{
                    width: 30%;
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    .poster{
                        min-height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 70%;
                            min-width: 150px;
                            box-shadow: 1px 1px 5px $secondaryColor;
                        }
                    }
                    .hidePoster{
                        opacity: 0;
                     }
                }
            }
        }
    }
    
}