@import '../../variables.scss';
@mixin showSection {
    .showSections{
        // min-height: 400px;
        
        padding: 10px 0;
    }
    .headerShowSection{
        color: $secondaryColor;
        padding: 10px;
        display: flex;
        align-items: center;
        h1{
            font-size: 32px;
        }
        

    }
    .previewShowList::-webkit-scrollbar{
        background-color: $primaryColor;
        height: 5px;
        border-radius: 20px;
    }
    .previewShowList::-webkit-scrollbar-thumb{
        background-color: $secondaryColor;
        border-radius: 20px;
        

    }
    .previewShowList{
        display: flex;
        overflow: auto;

        .show{
            
            color: $secondaryColor;
            min-width: 182px;
            padding: 0 10px;
            padding-bottom: 10px;
            min-height: 10px;
            display: flex;
            flex-direction: column;
            .imageContainer{
                width: 100%;
                min-height: 260px;
                position: relative;

                
                img{
                    width: 100%;
                    height: 100%;
                }

            

            }
            .showShortDetails{
                padding: 10px;
                display: flex;
                height: 100%;
                flex-direction: column;
                background-color: rgba($color: $primaryColor, $alpha: 0.4);
                .ratings{
                    display: flex;
                    align-items: center;
                    p{
                        margin-left: 10px;
                    }
                }
                h4{
                    margin: 10px 0;
                }
                a{
                    margin-top: auto;

                }
                button{
                    background-color: transparent;
                    border-radius: 12px;
                    border: 1px solid $secondaryColor;
                    padding: 5px 10px;
                    color: $secondaryColor;
                    width: 100%;
                    
                }
    
            }

        }
        
    }
}