@mixin showInfo {
    height: 100%;
    min-width: 100%;
    color: white;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    button{
        position: relative;
    }
    h1{
        font-size: 50px;
    }
    .genres{
        display: flex;
        list-style-type: none;
        li{
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}