@import '../variables.scss';

@mixin detailHeader{
    color: white;
    height: 400px;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .backgroundImg, .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        
    }
    .background{
        height: 100%;
        background-color: rgba($color: $secondaryColor, $alpha: 0.5);
    }
    .backgroundImg{
        opacity: 0.7;
        min-height: 100%;
    }
    .showTitle{
        img{
            max-width: 150px;
        }
        h1{
            font-size: 40px;
            
        }
        .tagline{
            font-style: italic;
            margin-bottom: 10px;
        }
        ul{
            list-style-type: none;
            display: flex;
            li{
                margin-right: 10px;
                padding: 10px;
                border-radius: 12px;
            }
        }
    }
    .headerInfo{
        div{
            display: flex;
            align-items: center;
        }
        i{
            margin-right: 20px;
        }
        

    }

}